*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    color: #faf9f8;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.head-section1 {
    display: flex;
    justify-content: center;
    gap: 500px;
    padding: 20px;
}

.head-section2 {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 120px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.title-text {
    font-size: 18px;
    color: #e5e7eb;
}

.title-span {
    display: block;
}

.main-title{
    font-size: 48px;
    font-weight: 900;
}

.img-placeholder {
    height: 230px;
    width: 500px;
    background-color: #808b96;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.main-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.text-info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 40px;
}

.card-container {
    display: flex;
    text-align: center;
    gap: 60px;
    margin-bottom: 90px;
}

.card {

    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    gap: 8px;
}

.main-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 120px;
}

.review {
    width: 760px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.signature {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}

.main-section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.main-container2 {
    display: flex;
    gap: 180px;
    background-color: #3882f6;
    color: #faf9f8;
    border-radius: 8px;
    padding: 40px 100px;
}

.section3-title {
    font-size: 24px;
    font-weight: 600;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 80px;
    background-color: #1f2937;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #faf9f8;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

button {
    background-color: #3882f6;
    color: #faf9f8;
    border-radius: 8px;
    border: none;
    padding: 8px 30px;
    font-weight: 900;
    margin-top: 10px;
    font-size: 18px;
}

.btn.main {
    border: 2px solid #faf9f8;
}